@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.speech-bubble {
    padding: 10px 10px 10px 10px;
    margin-bottom: 16px;
    animation: fadein 1s;
}

.speech-bubble.right{
	position: relative;
	background: #80ff80;
    border-radius: .4em;
    margin-left: 65%;
}

.speech-bubble.right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-left-color: #80ff80;
    border-right: 0;
    border-bottom: 0;
	margin-top: -10px;
	margin-right: -10px;
}

.speech-bubble.left{
	position: relative;
	background: #dddddd;
    border-radius: .4em;
    margin-right: 65%;
}

.speech-bubble.left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-right-color: #dddddd;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -10px;
}

.username {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
}