:root {
	--arrow: url('cursors/004-cursor.png');
	--hand: url('cursors/011-hand.png');
	--text: url('cursors/033-text.png');
}

.navbar-brand, .card-body, .form-control.form-control-lg.form-control-borderless {
	cursor: var(--text), text;
}

body {
	cursor: var(--arrow), pointer;
}

.btn.text-white, .card-body a, .btn.btn-lg.btn-success, .nav-link.text-white {
	cursor: var(--hand), pointer;
}