body {
	cursor: url('cursors/004-cursor.png'), pointer;
}

.h2.mb-0 {
	cursor: url('cursors/011-hand.png'), pointer;
}

.nav-link{
	cursor: url('cursors/011-hand.png'), pointer;
}

.btn.btn-dark, .btn.btn-light, .btn.btn-success.mr-2.mb-2, .btn.btn-primary.text-black , .btn.btn-primary.text-black, .btn.btn-primary, .close span, .wrapper {
	cursor: url('cursors/011-hand.png'), pointer;
}

.smoothscroll {
	cursor: url('cursors/011-hand.png'), pointer;
}

.text-uppercase, .mb-5.desc, .text-light.mb-4, .section-title.mb-3, .p-3, .footer-heading.mb-4, .form-control.border-secondary.text-white.bg-transparent, body p, .modal-body label, .form-control  {
	cursor: url('cursors/033-text.png'), text;
}

.mouse .mouse-icon, .owl-dots {
	cursor: url('cursors/011-hand.png'), pointer;
}

.wrapper {
	width: 30px;
}



